$color-primary: #004d42;
$section: 70px 0;
body {
	padding-top: 7.2467rem;
	nav a {
            font-size: 1.3rem; 
	}
}
.ads-content {
	background-color: #daf0ec;
	h4 {
	    padding: 1.5rem 0.5rem;
	    text-transform: uppercase;
	    margin-bottom: 0;
	    font-weight: 900;
	    color: $color-primary;
	    font-family: Lato;
	}
}
#headinfo {
	background: url('../../img/dark-green-bg.jpg');
	padding: 40px;
	p {
		background-repeat: no-repeat;
        background-position: center;
		background-size: 100%;
		font-size: 13px;
		margin-bottom: 20px;
	    font-family: Georgia;
        font-style: italic;
        background-image: url('../../img/shadow.png');
    }
    h2 {
    	font-weight: 900;
    }
}
#our-services {
	padding: $section;
	.row {
		padding-top: 1rem;
	    a {
		    display: block;
		    text-decoration: none;
	        h2 {
		        font-size: 40px;
		        line-height: 1.15em;
		        color: $color-primary;
                font-weight: 900;
	        }
	        span {
		        font-size: 15px;
		        margin: 10px 11px 0;
		        color: $color-primary;
		        display: block;
		        text-transform: uppercase;
		        font-weight: 900;
	        }
	    }
	    a:hover > img {
		    margin-top: -10px;
		    margin-bottom: 10px;
	    }
	}
}
#our-review {
	background-image: url('../../img/reviews-bg.jpg');
	padding: 70px 1rem;
	.reviews {
		background: rgba(255, 255, 255, 0.5);
		padding: 2rem 1rem;
		margin-bottom: 2rem;
		border-radius:.3rem;
	}
}
#our-work {
	padding: $section;
	span {
		font-size: 15px;
		margin: 10px 11px 0;
		color: $color-primary;
		display: block;
		text-transform: uppercase;
		font-weight: 900;
	}
}
footer {
	.fb-ic {
		font-size: 2em;
	}
	a {
	   color: #4f4f4f;
	} 
}
#header-page{
	background-image: url('../../img/header.jpg');
	background-position: center center;
	padding: 100px 0;
	h2 {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
}	
#content-page {
	.container {
		margin-top: 4em;
		margin-bottom: 4em;
		img {
			max-width: 100%;
			margin-bottom: 1em;
		}
	}
}
.gallery {
	.row {
		margin: 15px;
	}
}
@media (min-width: 768px) {
	#headinfo p {
       font-weight: 400;
       font-size: 23px;
       max-width: 40%;
       margin: auto;
       line-height: 5.588em;
	}
}
@media (max-width: 767px) {
    #carouselExample {
    .carousel-inner {
        margin-left: 0; 
            img {
    	        margin: 0;
    	        width: 100%;
    	    }
        }
    }
    .grid {
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: auto;
    } 
    .grid-row {
    	grid-row: 1 / 2;
    }
}
